<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.mapper.Approval">
    <select id="findAll" resultMap="resultDept">
        select * from demand
    </select>
    <select id="findByStatus1" resultMap="resultDept">
       select * from demand where approval_status="已审核";
    </select>
    <select id="findByStatus2" resultMap="resultDept">
        select * from demand where approval_status="未审核"
    </select>
    <resultMap id="resultDept" type="pro.entity.Demand">
        <id property="demandPlanCode" column="demand_plancode" javaType="Long"/>
        <result property="demandPlanType" column="demand_plantype" javaType="String"/>
        <result property="demandPlanName" column="demand_planname" javaType="String"/>
        <result property="demandRemarks" column="demand_remarks" javaType="String"/>
        <result property="demandDepartment" column="demand_department" javaType="String"/>
        <result property="demandPerson" column="demand_personne" javaType="String"/>
        <result property="demandState" column="demand_state" javaType="String"/>
        <result property="approval" column="approval_status" javaType="String"/>
        <result property="demandMonth" column="demand_month" javaType="int"/>
        <result property="orderCode" column="order_code" javaType="Long"/>
    </resultMap>

</mapper>