<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.mapper.IAccountService">
    <select id="findAll" resultMap="resultDept">
        select * from account
    </select>

    <resultMap id="resultDept" type="pro.entity.Account">
        <id property="id" column="id" javaType="int"></id>
        <result property="accName" column="acc_name" javaType="String"></result>
        <result property="accAge" column="acc_age" javaType="String"></result>
    </resultMap>

</mapper>